@font-face {
    font-family: Kingthings;
    src: url(fonts/kingthings_calligraphica_2.ttf);
}
body {
  background-image: url("Chef_Pictures/woodbackground.jpg");
	}
/* Need fo figure out how to select Titles */
head title {
  font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
}
p {
	font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
   	font-size: 24px;
	color: black;
	text-align: center;
}
ul li {
    padding: 10px 0;
}
h1 {
    font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
    text-align: center;
    }
h2 {
	font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
	text-align: center;
	}
h3 {  
    font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
    }
img {
    display: block;
    padding: 10px;
}
#header {
  font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
  color: white;
}

#upperText {
    font-size: 24;
	padding-top: 50px;
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 25%;
        width: 55%;
    }
 
#lowerText {
    font-family: Kingthings, Brush Script Std, Brush Script MT, cursive;
    font-size: 28px;
	margin-left: 25%;
    }

#lowerPictures {
    float:right;
}

#aboutUs {
  display: inline-block;
}
#footer {
	width: 200px;
	height: 100px;
	padding: 10px;
	float: right;
	margin-right: 25%;
	position: relative;
	top: -70px;
	font-size: 24;
	font-family: Kingthings;
	color: #016837;
	}
